[submodule "lib/Catch2"]
	path = lib/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git